*{
    padding: 0;
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    color: white;
}
a{
    /*text-decoration: underline;
    text-decoration-color: rgb(112, 112, 112);*/
    text-decoration: none;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: rgb(112,112,112);
}
#firma-electronica{
    background-image: url(/css/fondo.jpg);
    background-repeat: no-repeat;
    min-height: 480px;
}
#contenido{
    height: 480px;
    width: 856px;
    background-color: rgba(0, 0, 0, 0.45);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#nombre{
    font-size: 60px;
    margin-bottom: 10px;
}
#profesion{
    font-size: 45px;
    margin-bottom: 50px;
}
.dato{
    font-size: 30px;
    margin: 5px;
}