*{
    margin: 0;
    padding: 0;
    font-family: "Play", sans-serif;
    font-weight: 300;
    font-style: normal;
}
body{
    background-color: #d6d6d6;
}
/* Estilos generales */
:any-link{
    color: white;
}
:-webkit-any-link{
    color: white;
}
:-moz-any-link{
    color: white;
}
a{
    text-decoration: none;
}
.logo{
    width: 75px;
    margin: 5px;
}
section{
    max-width: 1700px;
    margin: 20px 0;
}
section:last-child{
    margin: 0;
}
/* Menú de navegación */
nav{
    height: 100px;
    width: 100%;
    background-color: #a82d22;
    color: white;
    position: fixed;
    border-style: inset;
    border-color: black;
    border-width: 0 0 2px;
}
nav ul{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    list-style: none;
    font-size: 20px;
}
.itemmenu{
    transition: 0.2s, text-shadow 0.2s;
}
.itemmenu:hover{
    transform: scale(1.2);
    text-shadow: 1px 1px 5px #ffffff;
}
.mainlogo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 35px;
}
.mainlogo h2{
    font-size: 24px;
}
/* Intro FancyKeys */
article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0 0;
}
    #intro{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    background-image: url('/resources/tecladointro.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    position: center;
    overflow: hidden;
}
#cajaintro{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 75%;
    width: 1040px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 20px;
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.7)
}
#cajaintro h2{
    font-size: 70px;
    font-weight: lighter;
}
#cajaintro p{
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
}
/* TECLADOS */
#teclados{
    display: grid;
    grid-template-columns: 600px 1fr 600px;
    padding: 0 20px;
    color: #222;
}
#teclados h3{
    align-self: center;
}
#teclado1{
    grid-column: 1/2;
    grid-row: 1/4;
    width: 100%;
    border-radius: 10px;
}
#titulo1{
    grid-column: 2/4;
    grid-row: 1/2;
}
#texto1{
    grid-column: 2/4;
    grid-row: 2/3;
    margin: 0 50px;
}
#boton1{
    grid-column: 2/4;
    grid-row: 3/4;
}
#teclado2{
    grid-column: 3/4;
    grid-row: 4/7;
    width: 100%;
    border-radius: 10px;
}
#titulo2{
    grid-column: 1/3;
    grid-row: 4/5;
}
#texto2{
    grid-column: 1/3;
    grid-row: 5/6;
    margin: 0 50px;
}
#boton2{
    grid-column: 1/3;
    grid-row: 6/7;
}
#teclados h3{
    font-size: 40px;
    font-weight: lighter;
    text-align: center;
}
#teclados p{
    font-size: 20px;
    font-weight: lighter;
    text-align: justify;
}
#boton1, #boton2{
    display: flex;
    justify-content: end;
    margin: 0 0 20px; 
}
.botonvermas{
    padding: 0 20px;
    border: none;
    border-radius: 7px;
    margin: 0 50px;
}
/* SWITCHES */
#switches{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    background-color: #a82d22;
    padding: 20px;
}
#tituloswitches{
    color: white;
    font-size: 40px;
    grid-column: 1/5;
    text-align: center;
    margin: 10px 0 0;
}
#textoswitches{
    color: white;
    font-size: 23px;
    text-align: justify;
    grid-column: 1/5;
    margin: 0 0 20px;
    padding: 0 50px;
}
.switch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
}
.switch h3{
    font-size: 25px;
    font-weight: lighter;
    text-align: center;
}
.switch p{
    font-size: 18px;
    font-weight: lighter;
}
.switch img{
    max-width: 200px;
    border-radius: 5px;
}
/* KEYCAPS */
#keycaps{
    background-color: #222;
    color: white;
    padding: 20px;
    margin-bottom: 2px;
}
#titulokeycaps{
    font-size: 40px;
    text-align: center;
    margin: 40px 0 60px;
}
.keycap{
    display: grid;
    grid-template-columns: 450px 1fr;
    margin: 20px 0;
}
.keycap:last-child{
    margin-bottom: 0;
}
.keycap img{
    width: 100%;
    border-radius: 5px;
    grid-column: 1/2;
    grid-row: 1/3;
}
.keycap h3{
    align-self: center;
    font-size: 30px;
    font-weight: lighter;
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
}
.keycap p{
    padding: 0 50px;
    font-size: 20px;
    font-weight: lighter;
    text-align: justify;
    grid-column: 2/3;
    grid-row: 2/3;
}
.barra{
    width: 100%;
    height: 2px;
    background-color: white;
}
/* CONTACTO */
#contacto{
    background-color:#a82d22;
    color: white;
    width: 100%;
    display: grid;
    grid-template-columns: 35% 1px 65%;
}
#titulocontacto{
    font-size: 40px;
    text-align: center;
    grid-column: 1/4;
    margin: 20px 0;
}
#barrahorizontalcontacto{
    grid-column: 1/4;
    height: 1px;
    background-color: #222;
}
#rrss{
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 40px;
    gap: 40px;
}
#rrss h2{
    font-size: 30px;
}
#rrss div{
    display: grid;
    grid-template-columns: 30px 1fr;
    gap: 20px;
    font-size: 25px;
}
.rspic{
    justify-self: end;
}
.rsuser{
    display: flex;
    width: auto;
    font-size: 25px;
}
#barracontacto{
    grid-column: 2/3;
    height: 100%;
    background-color: #222;
}
#contactar{
    grid-column: 3/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
#contactar form{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 35%;
    gap: 30px;
    padding: 20px;
}
.datocontacto{
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 150px 350px;
    gap: 25px;
    margin-bottom: 10px;
}
.datocontacto:last-child{
    margin-bottom: 0;
}
.datocontacto label{
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 5px;
}
.datocontacto input, .datocontacto textarea{
    font-size: 17px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #222;
}
.datocontacto textarea{
    height: 100px;
}
#formulario{
    justify-self: flex-end;
}
sup{
    font-size: 13px;
}
.itemform{
    grid-column: 2/3;
    align-self: flex-end;
}
/* Pie de página */
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #222;
    color: white;
    padding: 20px;
    gap: 15px;
}